# @package _global_
xpd: ???

domain: ???

inp_da: default
data:
  sst: contrib.multimodal.ose_utils.load_ose_data_with_mursst

xp_overrides: 
  datamodule:
    input_da: 
      _target_: ${oc.select:data.${inp_da},contrib.ose2osse.data.load_ose_data_new}
    domains: 
      test: 
        time: {_target_: builtins.slice, _args_: ['2016-12-01', '2018-01-31']}
      train: 
        time: {_target_: builtins.slice, _args_: ['2016-12-01', '2018-01-31']}
    xrds_kw: 
      strides: {lat: 100, lon: 100}
      domain_limits: ${domain.train}
  
trainer: 
  _target_: pytorch_lightning.Trainer
  inference_mode: False
  accelerator: gpu
  devices: 1
  logger: False

lit_mod: 
  _target_: contrib.multi_domain_diag.load_cfg_from_xp
  key: model
  xpd : ${xpd}
  overrides: ${xp_overrides}

dm: 
  _target_: contrib.multi_domain_diag.load_cfg_from_xp
  key: datamodule
  xpd : ${xpd}
  overrides: ${xp_overrides}

ckpt: 
  _target_: src.utils.best_ckpt
  xp_dir: ${xpd}

rec_weight:
  _target_: contrib.multi_domain_diag.get_smooth_spat_rec_weight
  orig_rec_weight:
    _target_: contrib.multi_domain_diag.load_cfg_from_xp
    key: model.rec_weight
    xpd : ${xpd}

entrypoints:
  - _target_: pytorch_lightning.seed_everything
    seed: 333
  - _target_: contrib.ose2osse.diagnostics.test_ose
    trainer: ${trainer}
    lit_mod: ${lit_mod}
    ose_dm: ${dm}
    ckpt: ${ckpt}
    diag_data_dir: ${xpd}/diag_data/natl
    test_track_path: '/DATASET/data_xp_ose/dt_gulfstream_c2_phy_l3_20161201-20180131_285-315_23-53.nc'
    oi_path: '/DATASET/data_xp_ose/training/cropped_ssh_alg_h2g_j2g_j2n_j3_s3a_duacs.nc'

defaults:
  - /domain: gf
  - _self_

